*
::after,
::before{
   margin:0;
   padding:0;
   box-sizing: border-box;
}
.section-center{
   width:90vw;
   margin:0 auto;
   max-width:1170px;
}
 .about-center{
  display:flex;
  justify-content: center;
  align-items:center;
} 
.about{
   text-align:center;
}
.about h2{
   color:#856d4d;
   text-transform: uppercase;
   letter-spacing:0.1rem;
}
.about p{
   width:100%;
}